body{
    height: 100%;
    background: white;
    
    }

    #full{
        background: black;
        background-repeat: no-repeat;
        background-size: cover;
        height: 550px;
        color: white;
        padding-left: 10px;
    }
    #searchEvent{
        color: rgb(245, 51, 51);
        font-family: 'Holtwood One SC', serif;
        font-size: 20px;
        font-weight: bold;
    }
    #search{
        width: 100%;
        height: 50px;
        font-size: 18px;
        text-align: center;
        border-radius: 10px;
        color: #57636e;
        font-family: 'Holtwood One SC', serif;
        margin-bottom: 20px;
    }
    
    #search:hover{
        cursor: pointer;
        background-color: rgb(245, 51, 51);
        color: #fff;
    }
    #search:focus{
        outline: 0;
    }
    .jumbo{
        background-color: white;
        margin: 10px;
        border: 2px solid lightgray;
        border-radius: 20px;
     }
    #homepage{
        border-radius: 10px;
        width: 300px;
    }
    .place{
        font-weight: bold;
        font-size: 20px;
    }
    .team{
        color: black;
        font-weight: bold;
    }
    
    .display-4{
       text-align: center;
       color: #ffffff;
       font-family: 'Holtwood One SC', serif;
       font-size: 40px;
    }
    .apiImage {
        width: 300px;
        height: 230px;
       border-radius: 20px;
        /* float: right; */
    }
   .center{
       text-align: center;
       /* border-radius: 50%!important; */
   }
   .fab{
       font-size: 30px;
       margin: 10px;
   }

    p{
        color: #57636e;
        font-size: 16px;
    }

    .eventName {
        color: blue;
        font-weight: bold;
        font-size: 22px;
    }
    .header{
        height: 80px;
    }
    .icons{
        margin-top: -25px;
        margin-left: 40px;
    }
    #hr{
       border-bottom: 0.1px solid black;
    }
   
    .ml4 {
        position: relative;
        font-weight: 900;
        font-size: 35px;
        color: rgb(245, 51, 51);
        text-align: center;
        font-family: 'Holtwood One SC', serif;
        margin-top: 200px;
      }
      .ml4 .letters {
        position: absolute;
        margin: auto;
        left: 0;
        top: 0.3em;
        right: 0;
        opacity: 0; 
      }
      
      .title{
          display: none;
      }
      
      @media screen and (max-width:414px){
        .display-4{
         font-size: 18px;
        }
        #full{
            height: 400px;
        }
      }
    
     
      #searchEvent, #search{
          font-size: 15px;
      }
      .eventy{
          width: 50px;
          height: 30px;
      }
      
      @media screen and (max-width:360px){
        .display-4{
            font-size: 18px;
           }
           #full{
            height: 400px;
        }
       
          #searchEvent, #search{
            font-size: 15px;
        }
        .eventy{
            width: 50px;
            height: 30px;
        }
       
      }
      